.shop-item-details{
    text-align: right;
    /* padding-top: -100px;     */
}

header .navbar{
    padding: 0;
}

.shop-item-button{
    background-color: #405f33;
    border-color: #405f33;
    font-size: 12px;
}
.shop-item-button:hover{
    background-color: #f33f3f;
    border-color: #f33f3f;
}

/* .shop-item {
    margin: 30px;
} */

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
}

/* .shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
} */

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
    /* About Section */
/* .left-content p{
    color: #405f33;
    font-size: 16px;
}
.left-content p strong{
    font-size: 18px;
} */

       /* Cart Section */
.cart span{
    padding-left: 10px;
}

.products-container {
    justify-content: space-around;
    margin: 100px 100px 0;
}

.products-container ion-icon {
    font-size: 25px;
    color: #405f33;
    /* margin-top: 60px; */
}

.product-header {
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 2px;
    border-bottom: 3px solid #405f33;
}

.product-title {
    min-width: 45%;
    /* padding-left: 25px; */
}

.price {
    width: 20%;
    display: inline-flex;
    align-items: center;
}

.quantity {
    width: 15%;
    display: flex;
    align-items: center;
}
.total {
    width: 20%;
    display: flex;
    align-items: center;
}
.product {
    min-width: 45%;
}

.products {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 4px solid #405f33;
}

.product ion-icon {
    cursor: pointer;
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.products img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 10px;
}

.subTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.subTotalTitle {
    width: 15%;
}

.subTotal {
    width: 20%;
}
.checkout {
    width: 80%;
    margin: 15px 0;
    margin-left: 80%;
    /* text-align: right; */
}
.btn-checkout {
    background-color: #405f33;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    border-color: #405f33;
}

.btn-checkout:hover {
    background-color: #f33f3f;
    border-color: #f33f3f;
}